[submodule "🍒செர்ரிமரம்"]
	path = 🍒செர்ரிமரம்
	url = https://github.com/247i/CherryTree.git
[submodule "மேதை"]
	path = மேதை
	url = https://github.com/247i/Geany.git
[submodule "வழிகாட்டி"]
	path = வழிகாட்டி
	url = https://github.com/247i/Guide.git
[submodule "குனுபணம்"]
	path = குனுபணம்
	url = https://github.com/247i/GnuCash.git
[submodule "அமைப்பாளர்"]
	path = அமைப்பாளர்
	url = https://github.com/247i/Kompozer.git
[submodule "எஆவமாதிருத்தி"]
	path = எஆவமாதிருத்தி
	url = https://github.com/247i/PDFXEdit.git
[submodule "எழுத்தாளன்"]
	path = எழுத்தாளன்
	url = https://github.com/247i/Scribus.git
[submodule "அலுவலகம்"]
	path = அலுவலகம்
	url = https://github.com/247i/Office.git
[submodule "குறிப்பேடு++"]
	path = குறிப்பேடு++
	url = https://github.com/247i/NotePadPP.git
